[run]
omit =
    tests/*
    src/common/oututils.py
    src/examples/*
    src/maths/odesolvr.py
    src/ti_desktop/*
    src/ui/*
    src/utils/*

[report]
exclude_lines =
    pragma: no cover
    def draw_chart
    def replay
